# SPDX-License-Identifier: GPL-2.0
#
# PCI Endpoint Functions
#

config PCI_EPF_TEST
	tristate "PCI Endpoint Test driver"
	depends on PCI_ENDPOINT
	select CRC32
	help
	   Enable this configuration option to enable the test driver
	   for PCI Endpoint.

	   If in doubt, say "N" to disable Endpoint test driver.

config PCI_EPF_AMBA_TEST
	tristate "Ambarella's PCI Endpoint Test driver"
	depends on PCI_ENDPOINT
	select CRC32
	help
	   Enable this configuration option to enable the device
	   for PCI Endpoint.

	   If in doubt, say "N" to disable.

config PCI_EPF_NTB
	tristate "PCI Endpoint NTB driver"
	depends on PCI_ENDPOINT
	select CONFIGFS_FS
	help
	  Select this configuration option to enable the Non-Transparent
	  Bridge (NTB) driver for PCI Endpoint. NTB driver implements NTB
	  controller functionality using multiple PCIe endpoint instances.
	  It can support NTB endpoint function devices created using
	  device tree.

	  If in doubt, say "N" to disable Endpoint NTB driver.

config AMBARELLA_EXCALIBUR_EP
	depends on PCI && ARCH_AMBARELLA && PCI_ENDPOINT
	select CRC32
	bool "Ambarella EXCALIBUR EP driver"
	help
	   Enable this configuration option to enable the endpoint side driver
	   for Excalibur.

config AMBARELLA_MOEMOEKYUN_EP
	depends on PCI && ARCH_AMBARELLA && PCI_ENDPOINT
	bool "Ambarella MOEMOEKYUN EP driver"
	help
	   Enable this configuration option to enable the endpoint side driver
	   for MOEMOEKYUN.

config AMBARELLA_RAINY_EP
	depends on PCI && PCI_ENDPOINT
	bool "Ambarella Rainy EP driver"
	help
	   Enable this configuration option to enable the endpoint side driver
	   for RAINY.

config AMBARELLA_BSB_EP
	depends on PCI && PCI_ENDPOINT
	tristate "Ambarella BSB EP driver"
	help
	   Enable this configuration option to enable the endpoint side driver
	   for Bsb.
